html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}
h1{
  color: $colorBlanco;
  font-size: nth($allSize,2 );
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
  text-align: center;
  text-shadow: 0 0 2px #0000;
  opacity: 1;
}
.fondoCeleste {
   background-color: $colorFondo;
}
// nav
nav{
  
    .nav-link {
      color: $ColorParrafoPie;
      text-decoration: none;
      &:hover{
      color: $colorNegro ;
      font-weight: bold;
      text-decoration: underline;
      }
    } 
    li{
      display: inline-block;
      margin: 5px 15px;
      font-size: nth($allSize, 3);  
    }
    overflow-x: hidden
    }
    // imagenes
    .container2 {
      background-color: $colorContenedores;
      margin: 2rem 10rem;
      text-align: center;
      padding: 2rem 0 1rem 0;
      border-radius: 5%;
      .info{
      background-color: #9a9c8f;
      display: inline-block;
      border-style: groove;
      border-color: $colorContenedores;
      margin: 1rem;
      padding: 1rem;
      h3{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 2rem;
      color: $ColorParrafoPie;
      }
    }
  }
  .container2 img:hover{
    transform:scale(1.2) ;
    transition: transform 1s; 
    border: solid;
    border-color: $colorNegro;
}
// footer 
footer{
  background-color: $colorPie ;
  height: nth($tamanoAlto, 3);
  .container-body {
      display: flex;
  }
  overflow-x: hidden
  }
.columna1 {
      width: nth($tamanoAncho, 3);
      padding-left: 50px;
h2 {
      color: $colorContenedores;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-top: nth($allSize, 2);
  }
p {
      color: $ColorParrafoPie;
      font-size: nth($allSize, 5);
      margin-top: nth($allSize, 3);
      justify-content: left;
      font-style: oblique;
      text-align: justify;
  }
}
.columnaContacto {
      width: nth($tamanoAncho, 3);
      padding-left: 100px;
h2 {
      color: $ColorParrafoPie;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-top: nth($allSize, 2);
  }
li{
  color: $ColorParrafoPie;
  margin-top: 1rem;
  display: flex;
  font-size: nth($allSize, 5);
}
i{
  width: nth($tamanoAncho, 4);
  height: 3rem;
  justify-content: flex-start;
  margin-left: 10px;
}
}
.columna3{
  width: nth($tamanoAncho, 3);
  justify-content: end;
  padding-left: 80px; 
iframe{
      justify-content: end;
      padding-left: nth($allSize, 6);
      width: fit-content;
      margin-top: nth($allSize, 2);
  }
}
@media screen and (max-width: 768px){
  .logo1{
    align-items: center;
  }
  iframe{
    display: none;
  }
  nav{
    text-align: start;
  }
  }